@page
@model admin_panel_razor.Pages.AboutUsModel

<h1>Game Settings</h1>
<h4>About Us</h4>

<div class="row">
    <div class="col-md-3">
        <br />
        <a class="btn btn-outline-primary" href="/GeneralSettings">General Settings</a>
        <br /><br />
        <a class="btn btn-outline-primary" href="/LogoSettings">Logo Settings</a>
        <br /><br />
        <a class="btn btn-outline-primary" href="/GameConfig">Game Config</a>
        <br /><br />
        <a class="btn btn-outline-primary" href="/SocialMedia">Social Media</a>
        <br /><br />
        <a class="btn btn-outline-primary" href="/ContactUs">Contact Us</a>
        <br /><br />
        <a class="btn btn-primary" href="/AboutUs">About Us</a>
        <br /><br />
        <a class="btn btn-outline-primary" href="/TermsAndConditions">Terms & Condition</a>
        <br /><br />
        <a class="btn btn-outline-primary" href="/PrivacyPolicies">Privacy Policy</a>
    </div>

    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label for="Title">About Title</label>
                <input type="text" class="form-control" id="Title" name="AboutUs.Title" value="@Model.AboutUs.Title" required />
            </div>
            <div class="form-group">
                <label for="Slug">About Slug</label>
                <input type="text" class="form-control" id="Slug" name="AboutUs.Slug" value="@Model.AboutUs.Slug" required />
            </div>
            <div class="form-group">
                <label for="Description">About Description</label>
                <textarea class="form-control" id="Description" name="AboutUs.Description" rows="5" required>@Model.AboutUs.Description</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update About Us</button>
        </form>
    </div>
</div>
