@* @page
@model admin_panel_razor.Pages.BidValues.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BidValue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BidValue.Value" class="control-label"></label>
                <input asp-for="BidValue.Value" class="form-control" />
                <span asp-validation-for="BidValue.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@






 @page
@model admin_panel_razor.Pages.BidValues.CreateModel

<h1>Create Bid Value</h1>

<h4>Bid Value</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="BidValue.Value" class="control-label"></label>
                <input asp-for="BidValue.Value" class="form-control" />
                <span asp-validation-for="BidValue.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>
