@page
@model AdminPanelRazor.Pages.SocialMediaModel
@{
    ViewData["Title"] = "Social Media Settings";
}

<h1>Game Settings</h1>
<h4>Social Media</h4>

<div class="row">
    <div class="col-md-3">
        <br />
        <a class="btn btn-outline-primary" href="/GeneralSettings">General Settings</a>
        <br /><br />
        <a class="btn btn-outline-primary" href="/LogoSettings">Logo Settings</a>
        <br /><br />
        <a class="btn btn-outline-primary" href="/GameConfig">Game Config</a>
        <br /><br />
        <a class="btn btn-primary" href="/SocialMedia">Social Media</a>
        <br /><br />
        <a class="btn btn-outline-primary" href="/ContactUs">Contact Us</a>
        <br /><br />
        <a class="btn btn-outline-primary" href="/AboutUs">About Us</a>
        <br /><br />
        <a class="btn btn-outline-primary" href="/TermsAndConditions">Terms & Condition</a>
        <br /><br />
        <a class="btn btn-outline-primary" href="/PrivacyPolicies">Privacy Policy</a>
    </div>



    <div class="col-9">
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="SocialMedia.Facebook"></label>
                    <input asp-for="SocialMedia.Facebook" class="form-control" />
                    <span asp-validation-for="SocialMedia.Facebook" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="SocialMedia.Twitter"></label>
                    <input asp-for="SocialMedia.Twitter" class="form-control" />
                    <span asp-validation-for="SocialMedia.Twitter" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="SocialMedia.LinkedIn"></label>
                    <input asp-for="SocialMedia.LinkedIn" class="form-control" />
                    <span asp-validation-for="SocialMedia.LinkedIn" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="SocialMedia.Instagram"></label>
                    <input asp-for="SocialMedia.Instagram" class="form-control" />
                    <span asp-validation-for="SocialMedia.Instagram" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="SocialMedia.YouTube"></label>
                    <input asp-for="SocialMedia.YouTube" class="form-control" />
                    <span asp-validation-for="SocialMedia.YouTube" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="SocialMedia.WhatsApp"></label>
                    <input asp-for="SocialMedia.WhatsApp" class="form-control" />
                    <span asp-validation-for="SocialMedia.WhatsApp" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="SocialMedia.Pinterest"></label>
                    <input asp-for="SocialMedia.Pinterest" class="form-control" />
                    <span asp-validation-for="SocialMedia.Pinterest" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="SocialMedia.GitHub"></label>
                    <input asp-for="SocialMedia.GitHub" class="form-control" />
                    <span asp-validation-for="SocialMedia.GitHub" class="text-danger"></span>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Update Social Media</button>
        </form>
    </div>
</div>